---
import Layout from "../layouts/Layout.astro";
import HomeBG from "../img/home/Home_BG.png";
import MobileHomeBG from "../img/home/Mobile_BG.png";
import Logo from "../img/home/Logo.png";

import house from "../img/home/House.png";
import train from "../img/home/Train.png";
import buildings from "../img/home/Buildings_BG.jpg";
---

<Layout title="Home">
  <main class="flex-center flex-col gap-3 min-w-[420px]">
    <header class="w-full flex-center">
      <div class="w-[1850px] overflow-auto flex-center mt-24 lg:mt-0">
        <img
          class="min-w-[1500px] h-full hidden lg:block"
          src={HomeBG.src}
          alt=""
        />
        <img
          class="w-full min-w-[420px] max-w-[700px] h-full block lg:hidden"
          src={MobileHomeBG.src}
          alt=""
        />
      </div>

      <div
        class="absolute self-start lg:self-center lg:left-12 mt-5 lg:-mt-[10%] flex-center flex-col"
      >
        <img class="w-[150px] lg:w-[200px]" src={Logo.src} alt="" />
        <div>
          <h1 class="text-lw-blue">CALHOME</h1>
          <h1 class="text-white text-shadow">PROGRAM</h1>
        </div>
      </div>
    </header>

    <!-- Bottom -->
    <div class="w-full flex-center flex-col relative overflow-hidden">
      <!-- BG -->
      <img
        class="w-full h-full object-cover bottom-0 min-w-[1920px]"
        src={buildings.src}
        alt=""
      />

      <!-- Content  -->
      <div class="w-full flex-center flex-col gap-5 absolute">
        <!-- Buttons Container  -->
        <div
          class="w-[60%] min-w-[440px] h-[200px] flex-col xs:flex-row flex-center gap-3 lg:gap-7"
        >
          <div class="button order-2 xs:order-1">
            <img src={house.src} alt="" />

            <div class="h-1/2 lg:h-[70%] w-[3px] bg-lw-orange-2"></div>
            <h2>
              <b>FIRST TIME</b><br />
               HOME BUYER <br />
               PROGRAM
            </h2>
          </div>

          <div class="button order-1 xs:order-2">
            <img src={train.src} alt="" />

            <div class="h-1/2 lg:h-[70%] w-[3px] bg-lw-blue"></div>
            <h2>
              <b>MOBILE</b><br />
               HOMES
            </h2>
          </div>
        </div>

        <a
          class="px-7 py-2 bg-lw-blue text-white border-[2px] border-lw-orange-2 rounded-lg"
          href="#"
        >
          Español</a
        >
      </div>
    </div>
  </main>
</Layout>

<style>
  h1 {
    @apply text-5xl sm:text-7xl lg:text-7xl 2xl:text-9xl font-bold;
  }

  .text-shadow {
    text-shadow: 3px 5px rgba(0, 0, 0, 0.425);
  }

  .button {
    @apply h-[150px] w-[300px] lg:w-[330px] flex justify-center items-center gap-2 bg-gray-50  md:bg-transparent hover:bg-white/50 hover:shadow-lg px-2 lg:px-4 py-1 hover:scale-105 transition-all cursor-pointer rounded-md;
  }

  .button img {
    @apply w-[50px] md:w-[70px] lg:w-[100px] h-full object-contain;
  }

  .button h2 {
    @apply text-lw-blue text-xl  lg:text-2xl;
  }
</style>
