---
const { info, es = false } = Astro.props;
---

<section
  class="w-full bg-fthb-bg-1 bg-cover py-16 px-16 flex flex-col gap-7 relative text-white text-xl md:text-2xl"
>
  <div class="triangle bg-lw-blue"></div>

  <h2 class="text-5xl">{es ? "Propietario" : "Buyer "}</h2>

  <!-- Columns -->
  <div class="w-full flex flex-col md:flex-row gap-5 md:gap-16">
    <ul class="w-full md:w-1/2 flex flex-col gap-7 list-disc">
      <li>{info[0]}</li>
      <li>{info[1]}</li>
      <li>{info[2]}</li>
    </ul>

    <ul class="w-full md:w-1/2 flex flex-col gap-5 list-disc">
      <li>{info[3]}</li>
      {
        es ? (
          <li>
            El monto máximo del préstamo de CalHome será el <b>40 por ciento</b>{" "}
            del precio de compra de la propiedad por parte del Prestatario,{" "}
            <b>o hasta un máximo de $XXX.</b>
          </li>
        ) : (
          <li>
            The maximum CalHome loan amount will be <b>40 percent</b> of the
            Borrower’s purchase price for the property,{" "}
            <b>or up to a maximum of $XXX.</b>
          </li>
        )
      }

      <li>{info[5]}</li>
    </ul>
  </div>

  <ul>
    <li class="list-disc">{info[6]}</li>
  </ul>
</section>
