---
import PaymentBox from "./PaymentBox.astro";
const { info, es = false } = Astro.props;
---

<section
  class="w-full bg-oor-bg-4 bg-cover py-16 px-16 flex flex-col gap-7 relative text-black/90 text-xl md:text-2xl"
>
  <div class="triangle bg-lw-orange-1 right-16"></div>
  <h2 class="text-5xl">{es ? "  Desglose de pago" : "Payment Breakdown"}</h2>

  <!-- Columns -->
  <div class="w-full flex flex-col md:flex-row gap-5 md:gap-16">
    <ul class="w-full flex flex-col gap-7">
      <li>{info.list[0]}</li>
      <li class="text-lg">{info.list[1]}</li>
    </ul>
  </div>

  <div
    class="flex justify-center lg:justify-between w-[100%] lg:w-[1155px] items-start gap-5 flex-wrap self-center"
  >
    <PaymentBox title="">
      {info.payments[0]}
    </PaymentBox>
    <PaymentBox es={es} title={es ? "11.° año:" : "11th Year:"} />
    <PaymentBox es={es} title={es ? "12.° año:" : "12th Year:"} />
    <PaymentBox es={es} title={es ? "13.° año:" : "13th Year:"} />
    <PaymentBox es={es} title={es ? "14.° año:" : "14th Year:"} />
    <PaymentBox es={es} title={es ? "15.° año:" : "15th Year:"} />
    <PaymentBox es={es} title={es ? "16.° año:" : "16th Year:"} />
    <PaymentBox es={es} title={es ? "17.° año:" : "17th Year:"} />
    <PaymentBox es={es} title={es ? "18.° año:" : "18th Year:"} />
    <PaymentBox es={es} title={es ? "19.° año:" : "19th Year:"} />
    <div class="px-5 w-[350px] lg:w-[750px] flex flex-col text-lg">
      <b class="text-xl"> {es ? "20.° año:" : "20th Year:"}</b>

      {info.payments[2]}
    </div>
  </div>

  <ul class="flex flex-col gap-5">
    <li>{info.list[2]}</li>
  </ul>
</section>
